# Environment
SUPROXY_ENVIRONMENT=development

# Server Configuration
SUPROXY_SERVER_ADDRESS=:8080
SUPROXY_SERVER_READ_TIMEOUT=10
SUPROXY_SERVER_WRITE_TIMEOUT=10
SUPROXY_SERVER_SHUTDOWN_TIMEOUT=10

# Database Configuration
SUPROXY_DATABASE_HOST=postgres
SUPROXY_DATABASE_PORT=5432
SUPROXY_DATABASE_USER=suproxy
SUPROXY_DATABASE_PASSWORD=suproxy
SUPROXY_DATABASE_DBNAME=suproxy
SUPROXY_DATABASE_SSLMODE=disable

# Log Configuration
SUPROXY_LOG_LEVEL=info
SUPROXY_LOG_FORMAT=json
